<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="quantec.com.moneypot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- 지문인식 -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".mApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_push_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_push_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.Main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Activity.Intro.ActivityIntro"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="quantec.com.moneypot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".Activity.Myinfo.ActivityMyinfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.SearchPort.ActivitySearchPort"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DetailPort.ActivityDetailPort"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Payment.ActivityPayment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AllCookList.ActivityAllCookList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FinishMakePort.ActivityFinishMakePort"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PortProfileModify.ActivityPortProfileModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PortProfileModify.Activity.ActivityPortProfileNameModify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PortProfileModify.Activity.ActivityPortProfileDescModify"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.Login.ActivityLogin" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Login.ActivityUserResist" />
        <activity android:name=".Activity.Login.ActivityAgreePage" >
        </activity>
        <activity android:name=".Activity.Login.ActivityPhoneConfirm">

        </activity>
    </application>

</manifest>