<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.quantec.moneypot">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- FIDO SDK Permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".mApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_push_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_push_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.prefer.ActivityPrefer">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.splash.ActivitySplash" />
        <activity android:name=".activity.Main.Fragment.Tab2.fragment.ActivitySimulationSearch" />
        <activity android:name=".activity.PotDetail.ActivityPackDetail" />
        <activity android:name=".activity.PotDetail.ActivitySingleDetail" />
        <activity android:name=".activity.history.ActivityHistory" />
        <activity
            android:name=".activity.Main.Fragment.Tab1.Activity.ActivityPotMarket"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".activity.TopTest"
            android:process=":remote" />

        <activity
            android:name=".activity.PotDetail.ActivityArticle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Search.ActivitySearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Center.ActivityWebViewQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Center.ActivityAppVersion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Center.ActivityInquiry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Center.ActivityUseGuide"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Center.ActivityQuestion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfo.ActivityChangedEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfo.ActivityChangedPw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfo.ActivityAuthPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfo.ActivityPhoneEmail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Setting.ActivitySetting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Notice.ActivityNotice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Center.ActivityClientCenter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyInfo.ActivityMyInfo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="activitymyinfo"
                    android:scheme="activity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Main.ActivityMain"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Intro.ActivityIntro"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.quantec.moneypot.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".util.FireBase.MyFireBaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/start_off" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/red_text_color" />

        <activity
            android:name=".activity.Login.resist.ActivityResistIntro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login.resist.ActivityResistAgree"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login.resist.ActivityPhoneConfirm"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".fido.AuthenticationActivity"
            android:label="Authentication"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fido.DeregisterActivity"
            android:label="Deregister"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dream.magic.fido.rpsdk.client.FidoSDKActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.dream.magic.fido.client.process.UAFClient"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.dream.magic.fido.client.asm.ui.AsmListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.dream.magic.fido.authenticator.asm.api.ASMProcessorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.dream.magic.fido.authenticator.finger.local.UserLocal_Normal_Activity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.dreamsecurity.lib_passcode.ui.Passcode_UI"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dreamsecurity.magicvkeypad.activitytype.DSNumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.dreamsecurity.magicvkeypad.activitytype.DSCharActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".magickeypad.HalfModeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login.resist.ActivityRegInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login.loginPage.ActivityLoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FIDO.ActivityRegFido"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FIDO.ActivityAuthFidoDouble"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FIDO.ActivityAuthFidoSingle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login.resist.ActivityRePhoneConfirm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Login.resist.ActivityRePassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FIDO.ActivityReFidoResistor"
            android:screenOrientation="portrait" />
    </application>

</manifest>